.jumbotron {
    height: 110px;
    padding: 0rem 0rem;
    text-align: center;
    background: dimgrey;  
    margin-bottom: 50px;  
}

.container-fluid {
    height: 500px;
    margin: 0 auto;
}

.display-4 {
    padding-top: 15px;
    color: white;
    font-weight: 500;
}

.forecast {
    background: rgb(0, 132, 255);
    height: 164px;
    width: 140px;
    border-radius: 12px;
    position: relative;
    left: -12px;
    text-align: center;
    color: white;
}

#fiveday {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

.adjust {
    position: relative;
    bottom: 11px;
}

span {
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.low {
    background-color: gold;
}

.moderate {
    background-color: darkorange;
}

.high {
    background-color: crimson;
}

.days {
    position: relative;
    top: 5px;    
    font-weight: 700;
}

.saves {
    margin-top: 25px;
    color: white;
    font-size: x-large;
    background-color: rgba(0, 132, 255, 0.596);
    border-radius: 6px;
    padding-left: 1rem;
}

.saves:hover {
    text-decoration: underline;
    cursor: pointer;
}


